*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height:100%;
    width:100%;
}
#page1{
    height: 100%;
    width:100%;
}
nav{
    /* background-color:cyan; */
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
nav i{
    display: none;
}
#nav-part1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1 h4{
    font-size: 14px;
    font-weight: 500;
}

nav img{
    zoom: 150%;
    max-height: 100%;
}
#nav-part2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
#nav-part2 button{
    padding: 12px 18px;
    border-radius: 18px;
    font-size: 13px;
    border:none;
    font-weight: 600;
    margin: 1.5px;}

#nav-part2 button:nth-child(2){
    background-color: black;
    color: #fff;
}

#content{
    height: calc(100% - 80px);
    width: 100%;
    /* background-color: blue; */
    padding-top:65px;
    /* justify-items: center;    */
    
}
#content h3{
    width: fit-content;
    background-color: #E0D935;
    padding: 4px 12px;
    border-radius: 50px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: 100;
}
#content h1{
    line-height:72px;
    font-size: 72px;
    text-align: center;
    font-weight: 100;
    margin: 25px;
    font-family: "Source Serif 4";
}
#content h4{
    font-size: 16px;
    text-align: center;
    font-weight: 500;

}
#content button{
    padding: 13px 20px;
    border-radius: 20px;
    font-size: 14px;
    border:none;
    font-weight: 600;
    margin: 27px 0px;
    background-color: black;
    color:white;position: relative;
    left:50%;
    transform: translateX(-50%);
}
#bottom{
    height: 250px;
    width: 100%;
    position: relative;
    /* display: flex;
    flex-wrap:nowrap; */
    padding:4px;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    animation-name:move;
    animation-duration:4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    /* flex-shrink: 0; */
    display: inline-block;
    height: 100%;
    width: 200px;
    background-color: tomato;
    /* border: 2px solid black; */
    border-radius: 30px ;
    margin-right: 27px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.2s;
}
.elem .text-bottom{
    height: 40%;
    width: 100%;
    background:linear-gradient(transparent,black);
    bottom: -40%;
    font-size: large;
    padding-left: 30px;
    padding-top: 10px;
    position: absolute;
    color:#fff;
}
.elem:hover .text-bottom{
    bottom: 0%;
}
.elem:hover{
    box-shadow: 0px 2px 30px black;

}

@keyframes move{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-180%);
        
    }
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    /* border-radius: 30px; */
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 30px;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    position: relative;
    padding: 60px;
}
#page2 h1{
    margin-bottom: 10px;
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
}
.box{
    height: 240px;
    width: 320px;
    /* background-color: aqua; */
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all ease 0.5s;
    
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */

}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */

}
.box-bottom{
    width: 100%;
    height: 40%;
    background:linear-gradient(to bottom,transparent,rgba(0.63,0.63,0.63,718));
    position: absolute;
    bottom: -40%;
    transition: all ease 0.3s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 20px;
    font-size: 18px;
}
.box-bottom i{
    background-color: white;
    color:black;
    padding: 5px 8px;
    border-radius: 50%;
}
.box:hover .box-bottom{
    bottom: 0%;
}
.box:hover{
    box-shadow: 0px 2px 20px rgba(0,0,0);
}
#page3{
    height:70%;
    width:100%;
    padding: 15px;
    /* background-color: aqua; */
}
#div-button{
    /* background-color: blanchedalmond; */
    margin-top: 50px;
    height: 40px;
    width:100%;
    display: flex;
    justify-content: center;
}
#div-button button{
    right:50%;
    background-color:black;
    color:white;
    padding: 10px 20px;
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
    height: 100%;
    border-radius: 40px;
    font-weight: 500;
}

#div-button button:hover{
    background-color: rgb(45, 49, 49);

}
#p3-bar{
    width: 100%;
    height: 210px;
    background-color: #fff;
    padding: 15px 20px;
    margin-top: 80px;
    overflow-x: auto;
    display: flex;



}
.cover{
    animation-name:move;
    animation-duration:4s;
    animation-iteration-count: infinite;
    margin-right: 30px;
    flex-shrink: 0;
    height: 100%;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    /* background-color: red; */
}
#p3-bar::-webkit-scrollbar{
    display: none;
}
.cover:hover{
    box-shadow: 5px 5px 0px plum;
}
#lastnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:gray;
    padding: 50px 15px;
}
#n1{
    width: 20%;
    height: 100%;
    /* background-color: #E0D935; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#n2{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width:600px) {
    nav{
        /* background-color:cyan; */
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
    }

    #nav-part1{
        display: none;
    }
    nav i{
        display:initial;
    }
    #nav-part1 h4{
        font-size: 14px;
        font-weight: 500;
    }
    
    nav img{
        zoom: 150%;
        max-height: 100%;
    }
    #nav-part2{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    #nav-part2 button{
        padding: 8px 12px;
        border-radius: 18px;
        font-size: 11px;
        border:none;
        font-weight: 600;
        margin: 1.5px;}
    
    #nav-part2 button:nth-child(2){
        background-color: black;
        color: #fff;
    }
    
    #content{
        height: calc(100% - 80px);
        width: 100%;
        /* background-color: blue; */
        padding-top:40px;
        /* justify-items: center;    */
        
    }
    #content h3{
        width: fit-content;
        background-color: #E0D935;
        padding: 4px 8px;
        border-radius:40px;
        position: relative;
        left:50%;
        transform: translateX(-50%);
        font-size: 0.8em;
        font-weight: 100;
    }
    #content h1{
        line-height:50px;
        font-size: 50px;
        text-align: center;
        font-weight: 100;
        margin: 25px;
        font-family: "Source Serif 4";
    }
    #content h4{
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    
    }
    #content button{
        padding: 10px 17px;
        border-radius: 20px;
        font-size: 11px;
        border:none;
        font-weight: 600;
        margin: 22px 0px;
        background-color: black;
        color:white;position: relative;
        left:50%;
        transform: translateX(-50%);
    }
    #bottom{
        height: 250px;
        width: 100%;
        position: relative;
        /* display: flex;
        flex-wrap:nowrap; */
        padding:4px;
        gap: 30px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    #bottom::-webkit-scrollbar{
        display: none;
    }
    .elem{
        animation-name:move;
        animation-duration:4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        /* flex-shrink: 0; */
        display: inline-block;
        height: 100%;
        width: 200px;
        background-color: tomato;
        /* border: 2px solid black; */
        border-radius: 30px ;
        margin-right: 27px;
        position: relative;
        overflow: hidden;
        transition: all ease 0.2s;
    }
    .elem .text-bottom{
        height: 40%;
        width: 100%;
        background:linear-gradient(transparent,black);
        bottom: -40%;
        font-size: large;
        padding-left: 30px;
        padding-top: 10px;
        position: absolute;
        color:#fff;
    }
    .elem:hover .text-bottom{
        bottom: 0%;
    }
    .elem:hover{
        box-shadow: 0px 2px 30px black;
    
    }
    
    @keyframes move{
        0%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(-180%);
            
        }
    }
    
    .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        /* border-radius: 30px; */
    }
    .elem video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        border-radius: 30px;
    }
    #page2{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #page2 h1{
        /* margin-bottom: 10px; */
        /* padding: 40px; */
        padding-top: 40px;
        font-weight: 600;
        font-size: 25px;
    }
    .box{
        height: 225px;
        width: 300px;
        /* right:10%; */
        /* background-color: aqua; */
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        margin: 10px;
        position: relative;
        transition: all ease 0.5s;
        
    }
    .box img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* border-radius: 10px; */
    
    }
    .box video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* border-radius: 10px; */
    
    }
    .box-bottom{
        width: 100%;
        height: 40%;
        background:linear-gradient(to bottom,transparent,rgba(0.63,0.63,0.63,718));
        position: absolute;
        bottom: -40%;
        transition: all ease 0.3s;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0px 10px;
        font-size: 18px;
    }
    #page3{
        height:70%;
        width:100%;
        
        /* background-color: aqua; */
    }
    #div-button{
        /* background-color: blanchedalmond; */
        margin-top: 50px;
        height: 40px;
        width:100%;
        display: flex;
        justify-content: center;
    }
    #div-button button{
        right:50%;
        background-color:black;
        color:white;
        padding: 5px 8px;
        width: fit-content;
        font-weight: 600;
        font-size: 12px;
        height: 100%;
        border-radius: 30px;
        font-weight: 500;
    }
    
    #div-button button:hover{
        background-color: rgb(45, 49, 49);
    
    }
    #p3-bar{
        width: 100%;
        height: 210px;
        background-color: #fff;
        padding: 12px 17px;
        margin-top: 30px;
        overflow-x: auto;
        display: flex;
    }
    .cover{
        animation-name:move;
        animation-duration:4s;
        animation-iteration-count: infinite;
        margin-right: 30px;
        flex-shrink: 0;
        height: 100%;
        width: fit-content;
        font-size: 16px;
        font-weight: 500;
        /* background-color: red; */
    }
    #p3-bar::-webkit-scrollbar{
        display: none;
    }
    #lastnav{
        width: 100%;
        display: block;
        color:gray;
        padding: 25px 10px;

    }
    #n1{
        width: 100%;
        height: 100%;
        /* background-color: #E0D935; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    #n2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
}
